consumes:
- application/json
host: pypa-api-development.endpoints.huko-312103.cloud.goog
info:
  description: Pypa API specification, across all products.
  title: Pypa Endpoint for Development
  version: 1.0.0
paths:
  "/":
    get:
      consumes:
      - application/json
      parameters: []
      responses:
        200: &id001
          description: Success
      summary: Upload File Page
    options:
      description: Upload File Page
      parameters: []
      produces:
      - application/json
      responses:
        200: *id001
      security:
      - api_key: []
        pypa_auth: []
      summary: Upload File Page
  "/root/authentication/login":
    options:
      description: Login
      parameters:
      - &id002
        description: ' Root Authentication Login'
        in: body
        name: Login
        schema:
          properties:
            password:
              maxLength: 100
              minLength: 5
              type: string
            username:
              maxLength: 20
              minLength: 5
              type: string
          required:
          - username
          - password
          type: object
      produces:
      - application/json
      responses:
        200: &id003
          description: Success
      security:
      - api_key: []
        pypa_auth: []
      summary: Login
    post:
      consumes:
      - application/json
      parameters:
      - *id002
      responses:
        200: *id003
      summary: Login
  "/root/authentication/register":
    options:
      description: Register
      parameters:
      - &id004
        description: ' Root Authentication Register'
        in: body
        name: Register
        schema:
          properties:
            email:
              maxLength: 50
              type: string
            password:
              maxLength: 100
              minLength: 5
              type: string
            phone:
              maxLength: 10
              type: string
            username:
              maxLength: 20
              minLength: 5
              type: string
          required:
          - username
          - password
          - email
          type: object
      produces:
      - application/json
      responses:
        200: &id005
          description: Success
      security:
      - api_key: []
        pypa_auth: []
      summary: Register
    post:
      consumes:
      - application/json
      parameters:
      - *id004
      responses:
        200: *id005
      summary: Register
  "/root/product/add_to_cart":
    options:
      description: Add To Cart
      parameters:
      - &id006
        description: ' Root Product Add To Cart'
        in: body
        name: Add To Cart
        schema: &id013
          properties:
            product_id:
              maxLength: 30
              minLength: 24
              type: string
          required:
          - product_id
          type: object
      produces:
      - application/json
      responses:
        200: &id007
          description: Success
      security:
      - api_key: []
        pypa_auth: []
      summary: Add To Cart
    post:
      consumes:
      - application/json
      parameters:
      - *id006
      responses:
        200: *id007
      summary: Add To Cart
  "/root/product/create_product":
    options:
      description: Create Product
      parameters:
      - &id008
        description: ' Root Product Create Product'
        in: body
        name: Create Product
        schema:
          properties:
            is_featured:
              maxLength: 10
              type: boolean
            product_desc:
              maxLength: 100
              minLength: 5
              type: string
            product_name:
              maxLength: 30
              minLength: 5
              type: string
            product_price:
              type: number
          required:
          - product_name
          - product_price
          type: object
      produces:
      - application/json
      responses:
        200: &id009
          description: Success
      security:
      - api_key: []
        pypa_auth: []
      summary: Create Product
    post:
      consumes:
      - application/json
      parameters:
      - *id008
      responses:
        200: *id009
      summary: Create Product
  "/root/product/get_product_details/{product_id}/{product_name}/{user_name}":
    get:
      consumes:
      - application/json
      parameters:
      - &id010
        description: Input for product_id
        in: path
        name: product_id
        required: true
        type: integer
      - &id011
        description: Input for product_name
        in: path
        name: product_name
        required: true
        type: string
      - &id012
        description: Input for user_name
        in: path
        name: user_name
        required: true
        type: string
      responses:
        200: &id014
          description: Success
      summary: Get Product Details
    options:
      description: Get Product Details
      parameters:
      - *id010
      - *id011
      - *id012
      - &id015
        description: ' Root Product Get Product Details  Product Id   Product Name   User
          Name '
        in: body
        name: Get Product Details
        schema: *id013
      produces:
      - application/json
      responses:
        200: *id014
      security:
      - api_key: []
        pypa_auth: []
      summary: Get Product Details
    post:
      consumes:
      - application/json
      parameters:
      - *id010
      - *id011
      - *id012
      - *id015
      responses:
        200: *id014
      summary: Get Product Details
  "/utility/swagger/UI/generate_csv_data":
    options:
      description: Generate Csv Data
      parameters:
      - &id016
        description: ' Utility Swagger Ui Generate Csv Data'
        in: body
        name: Generate Csv Data
        schema: {}
      produces:
      - application/json
      responses:
        200: &id017
          description: Success
      security:
      - api_key: []
        pypa_auth: []
      summary: Generate Csv Data
    post:
      consumes:
      - application/json
      parameters:
      - *id016
      responses:
        200: *id017
      summary: Generate Csv Data
  "/utility/swagger/UI/generate_yaml":
    get:
      consumes:
      - application/json
      parameters: []
      responses:
        200: &id018
          description: Success
      summary: Generate Yaml
    options:
      description: Generate Yaml
      parameters: []
      produces:
      - application/json
      responses:
        200: *id018
      security:
      - api_key: []
        pypa_auth: []
      summary: Generate Yaml
produces:
- application/json
schemes:
- https
- http
security:
- api_key: []
  pypa_auth: []
securityDefinitions:
  api_key:
    in: header
    name: x-api-key
    type: apiKey
  pypa_auth:
    authorizationUrl: ''
    flow: implicit
    type: oauth2
    x-google-audiences: pypa-api-development.endpoints.huko-312103.cloud.goog
    x-google-issuer: development-endpoint-service@huko-312103.iam.gserviceaccount.com
    x-google-jwks_uri: 'https: //www.googleapis.com/service_accounts/v1/metadata/x509/development-endpoint-service@huko-312103.iam.gserviceaccount.com'
swagger: '2.0'
x-google-endpoints:
- name: pypa-api-development.endpoints.huko-312103.cloud.goog
  target: 34.149.86.33
